# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment folders
venv/
env/
.env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore distribution / packaging
.DS_Store
build/
dist/
*.egg-info/

# Ignore IDE specific files
.vscode/
.idea/

# Ignore YOLO configuration files
*.cfg

# Ignore YOLO weight files
*.weights

# Ignore YOLO class files
*.names
